<div class="row" *ngIf='!logedIn'>
    <div class="col">
        <h3>This feature is available only for signed-in users. You can log in <a class="link" routerLink="/auth">here</a></h3>
    </div>
</div>
<div class="row text-danger" *ngIf='logedIn'>
  <div class="col">
    {{error}}
  </div>
</div>
<div class="row text-center" *ngIf='logedIn && this.definitions.length == 0'>
  <div class="col">
    You don't have any definitions saved!
  </div>
</div>
<div class="row" *ngIf='logedIn'>
    <div class="col">
        <div class="row single-result align-items-center" *ngFor="let definition of this.definitions">
            <div class="col-xs-2 word">
             {{definition.Word}}:
            </div>
            <div class="col">
             {{definition.Definition}}
            </div>
            <div class="col-lg-2 text-right">
              <button
                type="button"
                class="btn"
                mat-icon-button
                (click)="onDefinitionDelete(definition)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
        </div>
    </div>
</div>



