<form (ngSubmit)="onAccept()" [formGroup]="searchForm">
    <div class="row">
        <div class="col">
            <mat-form-field appearance="standard">
                <mat-label
                  >What word do you want to search for?</mat-label
                >
                <input
                  matInput
                  type="text"
                  formControlName="wordInput"
                  required
                />
                <mat-error
                  *ngIf="searchForm.get('wordInput').hasError('required')">
                  Please type in a word!
                </mat-error>
              </mat-form-field>
        </div>
    </div>
    <div class="row">
        <mat-radio-group aria-label="Select a category" formControlName="category">
          <div class="row">
            <div class="col">
              <mat-radio-button [checked]="true"  name="category" value="1">Definitions</mat-radio-button>
            </div>
            <div class="col">
              <mat-radio-button name="category" value="2">Synonyms</mat-radio-button>
            </div>
          </div>
          <mat-error
                  *ngIf="searchForm.get('category').hasError('required')">
                  Please select a category!
                </mat-error>
        </mat-radio-group>
        
    </div>
    <div class="row">
        <div class="col text-right">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </div>
</form>
<hr/>
<div class="row" *ngIf="searched">
  <div class="col">
    <div class="row box">
      <div class="col">
        <h3>"{{searchedWord}}" - Lingua Dictionary results:</h3>
        <div class="row text-center" *ngIf="(this.category == 1 && this.definitionsLingua.length == 0) || (this.category == 2 && this.synonymsLingua.length == 0)">
          <div class="col">
            No results. 😞
          </div>
        </div>
        <div class="row" *ngFor="let definition of definitionsLingua;let i=index">
          <div class="col">
           {{i+1}}. {{definition.definition}}
          </div>
          <div class="col-lg-2 text-right"  *ngIf='logedIn'>
            <button
              type="button"
              class="btn"
              [disabled]="definition.saved"
              mat-icon-button
              (click)="onDefinitionSave(definition)"
            >
              <mat-icon>bookmark</mat-icon>
            </button>
          </div>
        </div>
        <div class="row" *ngFor="let synonym of synonymsLingua;let i=index">
          <div class="col">
           {{i+1}}. {{synonym}}
          </div>
          <div class="col-lg-2 text-right" *ngIf='logedIn'>
            <button
              type="button"
              class="btn"
              mat-icon-button
              (click)="onSynonymSave(synonym)"
            >
              <mat-icon>bookmark</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row box">
      <div class="col">
        <h3>"{{searchedWord}}" - twinword Dictionary results:</h3>
        <div class="row text-center" *ngIf="(this.category == 1 && this.definitionsTwinword.length == 0) || (this.category == 2 && this.synonymsTwinword.length == 0)">
          <div class="col">
            No results. 😞
          </div>
        </div>
        <div class="row" *ngFor="let definition of definitionsTwinword;let i=index">
          <div class="col">
           {{i+1}}. {{definition.definition}}
          </div>
          <div class="col-lg-2 text-right" *ngIf='logedIn'>
            <button
              type="button"
              class="btn"
              [disabled]="definition.saved"
              mat-icon-button
              (click)="onDefinitionSave(definition)"
            >
              <mat-icon>bookmark</mat-icon>
            </button>
          </div>
        </div>
        <div class="row" *ngFor="let synonym of synonymsTwinword;let i=index">
          <div class="col">
           {{i+1}}. {{synonym}}
          </div>
          <div class="col-lg-2 text-right" *ngIf='logedIn'>
            <button
              type="button"
              class="btn"
              mat-icon-button
              (click)="onSynonymSave(synonym)"
            >
              <mat-icon>bookmark</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row box">
      <div class="col">
        <h3>"{{searchedWord}}" - WordsAPI Dictionary results:</h3>
        <div class="row text-center" *ngIf="(this.category == 1 && this.definitionsWordsApi.length == 0) || (this.category == 2 && this.synonymsWordsApi.length == 0)">
          <div class="col">
            No results. 😞
          </div>
        </div>
        <div class="row" *ngFor="let definition of definitionsWordsApi;let i=index">
          <div class="col">
           {{i+1}}. {{definition.definition}}
          </div>
          <div class="col-lg-2 text-right" *ngIf='logedIn'>
            <button
              type="button"
              class="btn"
              [disabled]="definition.saved"
              mat-icon-button
              (click)="onDefinitionSave(definition)"
            >
              <mat-icon>bookmark</mat-icon>
            </button>
          </div>
        </div>
        <div class="row" *ngFor="let synonym of synonymsWordsApi;let i=index">
          <div class="col">
           {{i+1}}. {{synonym}}
          </div>
          <div class="col-lg-2 text-right" *ngIf='logedIn'>
            <button
              type="button"
              class="btn"
              mat-icon-button
              (click)="onSynonymSave(synonym)"
            >
              <mat-icon>bookmark</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row box" *ngIf="this.category == 1">
      <div class="col">
        <h3>"{{searchedWord}}" - OWLBOT Dictionary results:</h3>
        <div class="row text-center" *ngIf="this.definitionsOwl.length == 0">
          <div class="col">
            No results. 😞
          </div>
        </div>
        <div class="row" *ngFor="let definition of definitionsOwl;let i=index">
          <div class="col">
           {{i+1}}. {{definition.definition}}
          </div>
          <div class="col-lg-2 text-right" *ngIf='logedIn'>
            <button
              type="button"
              class="btn"
              [disabled]="definition.saved"
              mat-icon-button
              (click)="onDefinitionSave(definition)"
            >
              <mat-icon>bookmark</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row float-right" *ngIf='searched && scrolled'>
  <div class="col">
    <button 
      type="button"
      class="btn"
      mat-fab 
      color="dark" 
      matTooltip="Back to the top!"
      matTooltipPosition="left"
      aria-label="Scroll to the top"
      (click)="onScrollUp()"
      >
      <mat-icon>arrow_circle_up</mat-icon>
    </button>
      
  </div>
</div>

