<section>
    <h2>Spellcheck</h2>
    <h3>Please enter a sentence or a word (english) to perform a spellcheck.</h3>
    <form (ngSubmit)="onAccept()" [formGroup]="spellcheckForm">
        <div class="row">
            <div class="col">
                <mat-form-field appearance="standard">
                    <textarea
                    matInput
                    formControlName="textInput"
                    required
                    ></textarea>
                    <mat-error
                    *ngIf="spellcheckForm.get('textInput').hasError('required')">
                    Please type in a sentence!
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                <button class="btn btn-primary" type="submit">Check!</button>
            </div>
        </div>
    </form>
</section>
<section class="row" *ngIf="this.buttonClicked">
    <div class="col">
        <h3>Corrected text:</h3>
        <div class="row">
            <div class="col">
                {{this.correctedText}}
            </div>
        </div>
    </div>
</section>