<section class="row text-center">
    <div class="col">
        <div class="row">
            <div class="col">
                <h3>All-in-one dictionary</h3>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <p>
                    All-in-one dictionary is an app build with Angular and Node.js. It allows it's users to find 
                    and compare definitions and synonyms of a searched word from different sources. Registered users are also able to save the results. 
                </p>
            </div>
        </div>
        <section class="row mt-5">
            <div class="col">
                <a href="https://github.com/Klarys/Web-technologies" target="_blank">Project's Github</a>
            </div>
            <div class="col">
                <h5>Krzysztof Klarkowski - 2020</h5>
            </div>
            <div class="col">
                <a href="https://www.linkedin.com/in/krzysztof-klarkowski/" target="_blank">LinkedIn Profile</a>
            </div>
        </section>
    </div>
</section>